In [1]:
dataset = [
    ['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
    ['Dill','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
    ['Milk','Apple','Kidney Beans','Eggs'],
    ['Milk','Unicorn','Corn','Kidney Beans','Yogurt'],
    ['Corn','Onion','Onion','Kidney Beans','Ice cream','Eggs'],
]

In [2]:
import numpy as np
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth, association_rules

In [3]:
te = TransactionEncoder()
te_arry = te.fit(dataset).transform(dataset)
te_arry, te.columns_

(array([[False, False, False,  True, False,  True,  True,  True,  True,
         False,  True],
        [False, False,  True,  True, False,  True, False,  True,  True,
         False,  True],
        [ True, False, False,  True, False,  True,  True, False, False,
         False, False],
        [False,  True, False, False, False,  True,  True, False, False,
          True,  True],
        [False,  True, False,  True,  True,  True, False, False,  True,
         False, False]]),
 ['Apple',
  'Corn',
  'Dill',
  'Eggs',
  'Ice cream',
  'Kidney Beans',
  'Milk',
  'Nutmeg',
  'Onion',
  'Unicorn',
  'Yogurt'])

In [4]:
df = pd.DataFrame(te_arry, columns=te.columns_)
df.head(2)

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True

In [6]:
frequent_itemsets=fpgrowth(df, min_support=0.6, use_colnames=True)
frequent_itemsets

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Kidney Beans, Eggs)
6       0.6       (Yogurt, Kidney Beans)
7       0.6                (Onion, Eggs)
8       0.6        (Onion, Kidney Beans)
9       0.6  (Onion, Kidney Beans, Eggs)
10      0.6         (Milk, Kidney Beans)

In [7]:
rules = association_rules(frequent_itemsets, metric='confidence',min_threshold=0.8)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.00,0.00,1.0,0.0
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf,0.0
2,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
3,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
4,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
5,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
6,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0
7,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.0,1.25,0.12,inf,0.5
8,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf,0.0

In [8]:
%timeit fpgrowth(df, min_support=0.6)

563 µs ± 36.8 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)